.header {
  /*Sets the font to the header*/
  font-family: sans-serif;
  /*Sets the font color*/
  color: #008B8B;
  /*Aligns this text to center of the page*/
  text-align: center;
}
.body {
  /*Sets a background color for the body*/
  background-color: #DCDCDC;
}
